.u-section-1 {
  background-image: url("images/Artboa.knykerrd1.png");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 508px;
}

.u-section-1 .u-image-1 {
  width: 262px;
  height: 45px;
  margin: 92px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 24px;
}

.u-section-1 .u-text-2 {
  width: 851px;
  font-weight: 500;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 32px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 86px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 111px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 60px auto 0 410px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 17px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 115px;
    margin-left: 310px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 200px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 110px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 439px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 115px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 117px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 116px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 439px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 115px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 439px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 115px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: -17px;
    margin-right: -17px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 439px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 115px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 112px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 439px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 115px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 114px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 19px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 439px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 115px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 18px 269px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}